body{
    background:  #E8E6D3  ;
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
}

.blurb h2{
    color:  #A16A46 ;
    font-weight: 100;  
    font-size: 2.5rem;
}

.blurb p{
   color: #252525;
   font-size: 1.125rem;
   font-weight: 100;  
   line-height: 2;
}


#mainNavbar .navbar-brand{
    color:  #A16A46 ;
}

#mainNavbar .nav-link {
    color:  #252525;
}

#mainNavbar .nav-link:hover {
    color:  #A16A46
}


#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;  
}

.content{
    margin-top: 100px;
}

.navbar.scrolled {
    background: #E8E6D3 ;
}

#mainNavbar button.navbar-toggler span.navbar-toggler-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(75deg) brightness(110%) contrast(105%);
}



@media only screen and (max-width: 768px) {
    /* Styles for mobile devices */
    #mainNavbar .nav-link {
        background-color:#E8E6D3
    }
    
}
